#section1{

   background-image:url(../images/CLOUD1.png);
   background-size: cover;
   color:black;
   font-family: arial;
  
}

#section2{

   background-image:url(../images/CLOUD2.png);
   background-size:cover;
   color:black;
   font-family: arial;
   

}

#section3{

  background-image:url(../images/CLOUD3.png);
   background-size:cover;
   color:black;
   font-family: arial;
   

}

.section{

    text-align: center;

    color: white;
    
font-family: arial;

}
#section1paragraph {
    text-align: center;
    font-family: arial;
    color:black;
}
#section2paragraph {
    text-align: center;
    font-family: arial;
    color:black;
    
}

#section3paragraph {
    text-align: center;
    font-family: arial;
    color:black;
    
}
